<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <form id="new-form">
      <input type="text" class="new-todo" placeholder="What needs to be done?" />
    </form>
  </header>

  <section class="main">
    <ul class="todo-list">

    </ul>
  </section>
</section>
 <%= button_to 'Clear done tasks', '#', class: 'my-btn', id:'clearbtn' %>
<br />
<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application, built by
  <%= link_to "Anna Canelas", "http://github.com/canelasa" %>
</section>
